*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/tech.jpg  ) ;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


    
  
    
}


   
.header{
    background-color: #87cefa;
    color: #000;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 20px;
    margin: 10px 30px 30px 30px;
border-radius: 20px;
    



}

.logo-container{
    display: flex;
    align-items: center;
    
    
}
.logo {
    width: 60px;
    height: 40px;
    background-color: #87cefa;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000;
    display: flex;
    font-weight: normal;
    font-size: 18px;
    border-color: #000;
    border-style: solid;
    

}

.navbar{
    display: flex;
    gap: 20px;
    align-items: center;

}
.icon{
    font-size: 324px;
    cursor: pointer;

}
.search-icon{
    font-size: 20px;
    cursor: pointer;

}
.menu-icon{
    font-size: 20px;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 50PX;
}

.polygon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #87cefa;
    clip-path: polygon(50% 0%,100% 100%,0% 100%);

}
.polygon h2{
    font-size: 35px;
    color: #333;
    text-align: center;

}
.right-side{
    width: 40%;
    padding: 20px;
    background-color: #87cefa;
    border-radius:8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);


}
.right-side h3{
    font-size: 24px;
    margin-bottom: 10px;
}

@media(max-width:768px){
    .main{
        flex-direction:column;
        align-items: center;
    }
    .left_side,.right-side{
        width: 90px;
        margin-bottom: 20px;
    }

}


    